html {
	height: 100%;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: var(--measure);
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h1 {
	margin: 0 0 var(--measure) 0;
	font-weight: normal;
	font-size: 1.1em;
}
