:root {
	--1: hsl(57.6 97.1% 59.6%);
	--2: hsl(0 0% 98.8%);
	--3: hsl(273.5 56.6% 58.4%);
	--4: hsl(0 0% 17.3%);

	--i: calc(var(--bg-height) / 4);

	--bg-image: linear-gradient(to bottom,
			var(--1) 0,
			var(--1) var(--i),
			var(--2) var(--i),
			var(--2) calc(var(--i) * 2),
			var(--3) calc(var(--i) * 2),
			var(--3) calc(var(--i) * 3),
			var(--4) calc(var(--i) * 3));
}
