:root {
	--1: rgb(0 0 0 / var(--bg-a));
	--2: rgb(120 79 23 / var(--bg-a));
	--3: rgb(228 3 3 / var(--bg-a));
	--4: rgb(255 237 0 / var(--bg-a));
	--5: rgb(255 140 0 / var(--bg-a));
	--6: rgb(0 128 38 / var(--bg-a));
	--7: rgb(0 77 255 / var(--bg-a));
	--8: rgb(117 7 135 / var(--bg-a));

	--i: calc(var(--bg-height) / 8);

	--bg-image: linear-gradient(to bottom,
			var(--1) 0,
			var(--1) var(--i),
			var(--2) var(--i),
			var(--2) calc(var(--i) * 2),
			var(--3) calc(var(--i) * 2),
			var(--3) calc(var(--i) * 3),
			var(--4) calc(var(--i) * 3),
			var(--4) calc(var(--i) * 4),
			var(--5) calc(var(--i) * 4),
			var(--5) calc(var(--i) * 5),
			var(--6) calc(var(--i) * 5),
			var(--6) calc(var(--i) * 6),
			var(--7) calc(var(--i) * 6),
			var(--7) calc(var(--i) * 7),
			var(--8) calc(var(--i) * 7));
}
