---
title: "Table 2: Severity levels for autism spectrum disorder"
layout: attachment.njk
eleventyComputed:
  crumbs:
    - "DSM-5 / "
    - url: "/!/ASD/"
      label: "ASD"
    - " / Table 2"
eleventyExcludeFromCollections: true
---

<table>
  <caption>
    TABLE 2 Severity levels for autism spectrum disorder
  </caption>
  <thead>
    <tr>
      <th>
        Severity level
      </th>
      <th>
        Social communication
      </th>
      <th>
        Restricted, repetitive behaviors
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>
        Level 3
        <br>
        "Requiring&nbsp;very substantial support"
      </th>
      <td>
        <p>
          Severe deficits in verbal and nonverbal social communication skills cause severe impairments in functioning, very limited initiation of social interactions, and minimal response to social overtures from others. For example, a person with few words of intelligible speech who rarely initiates interaction and, when he or she does, makes unusual approaches to meet needs only and responds to only very direct social approaches.
        </p>
      </td>
      <td>
        <p>
          Inflexibility of behavior, extreme difficulty coping with change, or other restricted/repetitive behaviors markedly interfere with functioning in all spheres. Great distress/difficulty changing focus or action.
        </p>
      </td>
    </tr>
    <tr>
      <th>
        Level 2
        <br>
        "Requiring substantial support"
      </th>
      <td>
        <p>
          Marked deficits in verbal and nonverbal social communication skills; social impairments apparent even with supports in place; limited initiation of social interactions; and reduced or abnormal responses to social overtures from others. For example, a person who speaks simple sentences, whose interaction is limited to narrow special interests, and who has markedly odd nonverbal communication.
        </p>
      </td>
      <td>
        <p>
          Inflexibility of behavior, difficulty coping with change, or other restricted/repetitive behaviors appear frequently enough to be ovvious to the casual observer and interfere with functioning in a variety of contexts. Distress and/or difficulty changing focus or action.
        </p>
      </td>
    </tr>
    <tr>
      <th>
        Level 1
        <br>
        "Requiring support"
      </th>
      <td>
        <p>
          Without supports in place, deficits in social communication cause noticeable impairments.
          <br>
          Difficulty initiating social interactions, and clear examples of atypical or unsuccessful responses to social overtures of others. May appear to have decreased interest in social interactions. For example, a person who is able to speak in full sentences and engages in communication but whose to-and-fro conversation with others fails, and whose attempts to make friends are odd and typically unsuccessful.
        </p>
      </td>
      <td>
        <p>
          Inflexibility of behavior causes significant interference with functioning in one or more contexts. Difficulty switching between   activities. Problems of organization and planning hamper independence.
        </p>
      </td>
    </tr>
  </tbody>
</table>
